.userdetails-section {}

.container {}

.useraccount-section-btn {
    @include flex(row, center, center);
    gap: 20px;
    padding-top: 50px;
    text-align: center;
    margin-bottom: 2rem;
    color: #211f1c;

}

.useraccount-section-btn-toggle {
    @include fonts(400, 20px, 23px);
    background: #fff;
    height: 50px;
    cursor: pointer;
    background: none;
    width: 200px;
    color: #acacac;
    transition: all 0.1s ease-in-out;
    border-bottom: 1px solid transparent;

    @include breakpoint-mf("xl") {
        @include fonts(400, 32px, 38px);
    }
}

.useraccount-section-btn-toggle.active {
    color: #334756;
    border-bottom: 1px solid #334756;
}