$white: #ffffff;
$primary: #393d45;
$primaryLight: #616467;
$primaryDark: #211f1c;
$primaryBlue: #334756;
$burgerLineColor: #f4f4f4;
$secondary: #acacac;
$searchedList: #e2dddd;
$secondaryLight: #f5f7fb;
$sliderBackground: #FCF9F6;