.comments__field {
  position: relative;
  width: 100%;
  @include margin(16px, 20px);
}

.comments__create-item-textarea {
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100px;
  resize: none;
  border-radius: 4px;
  padding: 24px;
  border: 2px solid $secondary;
  color: $primary;

  &:focus,
  &:focus-visible {
    border: 2px solid $primaryLight;
    outline: unset;
  }
}

.comments__length-counter {
  position: absolute;
  left: 6px;
  top: 6px;
  @include fonts(400, 14px, 14px);
  background: rgba(255, 255, 255, 0.7);

  &--overlength {
    color: #ff0000;
  }
}